<% username_link = link_to listing.creator.username, listing.creator %>
<% time_ago = time_ago_in_words(listing.created_at) %>
<div class="list-group-item">
  <div class="">
    <%= link_to listing.name, listing_url(listing) %>
  </div>
  Posted by <%= username_link %> <%= time_ago %> ago
</div>
