<h2><%= @listing.name %> @ <%= @listing.organization.name %></h2>

<article class="col-xs-8">
  <div class="">
    <%= link_to "Original posting", @listing.url %>
  </div>

  <div class="">
    <%= @listing.description %>
  </div>
</article>


<aside class="col-xs-4 ">

</aside>
