<h3><%= @user.username %></h3>
<div>Contributed Listings: <%= @listings.size %></div>
<div>Post Karma: <%= @listing_karma %></div>
<div>Joined: <%= time_ago_in_words(@user.created_at) %> ago</div>

<%#= render @listings %>
